a:visited {
	color: blue;
}

a:hover {
	color:red;
}

#h1heading {
	background-color: red;
	color: white;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	font-size: 40px;
	border-top: black 20px solid;
	border-left: black solid 10px;
	border-right: black solid 10px;
}

#ul_list {
	margin-top: 50px;
	border:black 2px solid;
	width: 400px;
	padding: 10px 0px 10px 30px;
	list-style: square;

}

#h3heading {
	text-align: center;

}

.article_history {
	font-size: 18px;
	margin: 0px 20px 0px 20px;

}

.article_img {
	text-align: center;
	height: 350px;

}

#text {
	margin-top: 150px;
}

.black_box {
	
	margin-top: 50px;
	height: 250px;
	color: white;
	background-color: black;
	position: relative;
	border:1px solid white;\
	width: 1000px;
}
